INSTAGRAM_BOT_TOKEN=0000000000:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
FRONTEND_URL=https://aaaaaaaa-0000.euw.devtunnels.ms

curl -i -X POST \
  "https://graph.instagram.com/v21.0/17841464935321098/subscribed_apps
  ?subscribed_fields=messages
  &access_token=IGQWRNc1FPSDNMR09senc1WE5DS0s3aF9Gell2enlPNGhFUXZAldjJ3V3RBdFJMZAElMTDVrdExLS3JfX3pGZAmJmcmkyaFpwbGZADdUhXNlBMRE1ORWRBbl9TU19LOENlWFRaLXd4bE42aTI3ekJkRDlzZAEpKdFJ4QzQZD"




curl -X POST "https://graph.instagram.com/v20.0/17841464935321098/messenger_profile?access_token=IGQWRNLVktRnpzeWFRQnhoX3p6cmgwS1JkZA08zS1p2WU9SU0RuRngtNS1OaUhxN1Y2T01YeHU4WElnRHA2WlJkdTY3YW1hYXNNSnY3bVNseEFVT25WX3NEOENPMFZAOcnRERVhrVGZA4dHkzc2g2d2hPc3cwc2lfRWsZD" \
-H "Content-Type: application/json" \
-d '{
  "ice_breakers": [
    {
      "call_to_actions": [
        {"question": "ℹ️ Learn about our team Furo ambassador program", "payload": "learn_group_buying"},
        {"question": "🛒 Craft ambassador adventure for your subscribers", "payload": "join_group_buy"},
        {"question": "🗓️ View upcoming adventures", "payload": "view_group_buys"},
        {"question": "💬 Chat with a travel expert", "payload": "chat_expert"}
      ],
      "locale": "default"
    },
    {
      "call_to_actions": [
        {"question": "ℹ️ Saiba mais sobre nosso conceito de compra em grupo", "payload": "learn_group_buying"},
        {"question": "🛒 Participar de uma compra em grupo", "payload": "join_group_buy"},
        {"question": "🗓️ Ver próximas compras em grupo", "payload": "view_group_buys"},
        {"question": "💬 Conversar com um especialista em compras em grupo", "payload": "chat_expert"}
      ],
      "locale": "pt_BR"
    }
  ]
}'


curl -X GET "https://graph.instagram.com/v20.0/17841464935321098?fields=persistent_menu&platform=instagram&access_token=IGQWRNLVktRnpzeWFRQnhoX3p6cmgwS1JkZA08zS1p2WU9SU0RuRngtNS1OaUhxN1Y2T01YeHU4WElnRHA2WlJkdTY3YW1hYXNNSnY3bVNseEFVT25WX3NEOENPMFZAOcnRERVhrVGZA4dHkzc2g2d2hPc3cwc2lfRWsZD"


curl -X POST "https://graph.instagram.com/v20.0/17841464935321098/messenger_profile?access_token=IGQWRNLVktRnpzeWFRQnhoX3p6cmgwS1JkZA08zS1p2WU9SU0RuRngtNS1OaUhxN1Y2T01YeHU4WElnRHA2WlJkdTY3YW1hYXNNSnY3bVNseEFVT25WX3NEOENPMFZAOcnRERVhrVGZA4dHkzc2g2d2hPc3cwc2lfRWsZD" \
     -H "Content-Type: application/json" \
     -d '{
  "platform":"instagram",
  "persistent_menu":[
    {
      "locale":"default",
      "composer_input_disabled":false,
      "call_to_actions":[
        {
          "type":"postback",
          "title":"View Our Products",
          "payload":"VIEW_PRODUCTS"
        },
        {
          "type":"postback",
          "title":"Contact Support",
          "payload":"CONTACT_SUPPORT"
        },
        {
          "type":"web_url",
          "title":"Visit Our Website",
          "url":"https://www.example.com",
          "webview_height_ratio":"full"
        }
      ]
    },
    {
      "locale":"pt_BR",
      "composer_input_disabled":false,
      "call_to_actions":[
        {
          "type":"postback",
          "title":"Ver Nossos Produtos",
          "payload":"VIEW_PRODUCTS"
        },
        {
          "type":"postback",
          "title":"Contatar Suporte",
          "payload":"CONTACT_SUPPORT"
        },
        {
          "type":"web_url",
          "title":"Visite Nosso Site",
          "url":"https://www.example.com/br",
          "webview_height_ratio":"full"
        }
      ]
    }
  ]
}'
